# Ignore all ...
/*

# ... but track specific files / folders: 

# General files
!.gitignore
!/README.md
!/README.orginal.md
!/LICENSE
!/demo
!/.readme

# DDEV config
!/.ddev
/.ddev/*
!/.ddev/config.yaml

# Plugin:
!/wp-content
/wp-content/*
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/pet-project-analytics